<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}


{% block content %}
<h1>Все Новости</h1>
<h1>{{ news|length }} штуки </h1>
<hr>
     {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>


           {% for i in news %}
           <tr>

               <td>{{ i.title| censor }}</td>
               <td>{{ i.dateCreation }}</td>
               <td>{{ i.text|truncatechars:20 | censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Сегодня ничего не произошло!!!</h2>
   {% endif %}
{% endblock content %}
