{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Информация о посте
{% endblock title %}


{% block content %}

<table>
    <thead>
        <th>
            Название
        </th>
        <th>
            Текст
        </th>
        <th>
            Автор
        </th>
        <th>
            Дата
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title }}
        </td>
        <td>
            {{ post.text }}
        </td>
        <td>
            {{ post.author }}
        </td>
        <td>
            {{ post.dateCreation| date:'d M Y' }}
        </td>
    </tr>
</table>

{% endblock content %}
